[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "external/mongoose"]
	path = external/mongoose
	url = https://github.com/cesanta/mongoose.git
